.sitebar {
    width: 15%;
    padding-top: 30px;
}
.item {
    display: flex;
    align-items: center;
    height: 40px;
}
.sitebar a {
    color:darkblue;
    text-decoration: none;
    padding: 0 10px;
}
.item:hover {
    background-color: rgba(214,214,214,.5);
}
a.activeLink {
    font-weight: 700;
}
