.loader_wrapper{
    height: 680px;
    width: 1020px;
    background-color: rgba(0,0,0,0.2);
    overflow:hidden;
    position:fixed;
    top: 90px;
    border-radius: 20px;

}
.loader {
    display: flex;
    justify-content: center;
    padding-top: 20%;

}
.loader img {
    height: 50px;
}