.photo {
    background-color: #fff;
    border-radius: 20px;
}
.photo img {
    max-height: 400px;
    max-width: 300px;
    border-radius: 20px;

}
.button {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 25px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #d6d6d6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }
  
.button:hover {
    background-color: rgb(206, 206, 206);

}
  
.button:active {
    box-shadow: 0 4px rgb(138, 138, 138);
    transform: translateY(2px);
  }
