.photo {
    height: 310px;
    width: 270px;
    background-color: #fff;
    border-radius: 20px;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img {
    height: 350px;
}
.photo img {
    width: 100%;
    border-radius: 20px;

}
.file_load input[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.file_load input[type="file"]{
    background: #D6D6D6;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    height: 35px;
    width: 270px;
    padding-top: 37px;
}

.file_load input[type="file"]:hover {
    background-color: #FD000D;
}


