.posts_wrapper {
    display: flex;
    flex-direction: column;
}
.post_item {
    width: 100%;
    display: flex;
    margin: 10px 0; 
}
.left_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.left_wrapper img {
    width: 50px;
    margin: 0 20px 0 0;
}
.right_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;   
}
.header, .footer {
    display: block;
    text-align: end;
}
.header {
    color: pink;
}
.footer {
    font-size: 12px;
}
.data span {
    color: green;
}
.content {
    margin: 15px 0;
    text-align: justify;
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lines {
    width: 33%;
    height: 1px;
    background-color: rgb(206, 206, 206);;
}
.stars {
    width: 33%;
    text-align: center;
}