.main_info {
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
}
.fio {
    font-size: 24px;
    font-weight: 500;
    margin-top: -10px;
}
.link {
    font-size: 16px;
    padding: 0 10px;
    color: #7a0009;
}
.link_name {
    padding-right: 20px;
}
.http {
    font-family: "Courier New";
    color: grey;
    text-decoration: underline;
}
.titlesDate {
    font-weight: 500;
}

.titles {
    display: inline-block;
    padding: 2px 0;
    width: 200px;
    color: #808080;
}
.button {
    margin: 20px 20px 20px 0;
    width: 120px;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #d6d6d6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    display: block;
    position: absolute;
    right: 0;
    top: calc(100% - 50px);
}

.button:hover {
    background-color: rgb(206, 206, 206);
}
.button:active {
    box-shadow: 0 4px rgb(138, 138, 138);
    transform: translateY(.3px);
}