.user_message{
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.ava {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: pink;
    margin: 0 10px 0 0;
}