.name_user {
    border-bottom: 1px solid grey;

}
.name_user a{
    text-decoration: none;
    padding: 20px 10px;
    display: block;
    color: darkblue;
}
.name_user .activeLink {
    font-weight: 600;
    background-color: rgba(214,214,214,.5);
}

