.left {
    margin-right: 20px;
}
.photo {
    width: 70px;
    height: 70px;
    border: 1px solid #999;
    border-radius: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 5px;
}
.photo img{
    width: 100%;

}
.user_container {
    display: flex;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
.button {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 25px;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #d6d6d6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.button:hover {
    background-color: rgb(206, 206, 206);

}

.button:active {
    box-shadow: 0 4px rgb(138, 138, 138);
    transform: translateY(2px);
}
.follow {
    color: green;
}
.unfollow {
    color: red;
}

.right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
}
.fullname {
    font-weight: 700;
}
.fullname span {
    font-weight: 300;
}
.status {
    padding-top: 30px;
}
.country {
    font-weight: 500;
    font-style: italic;
}