import React from 'react'
import h from './Header.module.css'

let Header = () => {
    return (
        <div className = {h.header}>
            <div className = {h.header_wrapper}>
                <div className = {h.logo}><img src='../logo.png'/></div>
                <div className = {h.main}>
                    <div className = {h.search}>
                        <input type="text" name="fname" placeholder='search...'/>
                    </div>
                    <div className = {h.signup}>
                        <a href='#'>Sigh Up</a>
                        <a href='#'>Register</a>
                    </div>
                </div>
            </div>
        </div>
    )
}
export default Header