.header {
    margin-bottom: 20px;
    font-weight: 500;
    color: rgb(11, 73, 0);
}

.friends_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}