.status textarea, .status span {
    display: block;
    width: 100%;
    margin: 10px 0;
    border-radius: 20px;
    resize: none;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(214,214,214,.3);
    outline: none;
    text-align: justify;
    box-sizing: border-box;
}