.friends_items{
    width: 80px;
    height: 100px;
    padding: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.friends_photo {
    width: 70px;
    height: 70px;
    background-color: grey;
    border-radius: 100%;
    background-size: cover;
    overflow: hidden;
}
.friends_photo img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.friends_name {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}